@import url("./reset.css");
@import url("./header.css");
@import url("./footer.css");

/* ------------------------- */
/* ----- GENERAL LAYOUT ----- */ 
body {
    font-family: 'Lato', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge-header {
    text-align: center;
    margin: 3rem 1rem 0;
}

.challenge-header__title {
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.challenge-header__task {
    padding: 1.5rem;
    line-height: 1.4em;
}
/* ----- END OF: GENERAL LAYOUT ----- */ 
/* ------------------------- */

/* ------------------------- */
/* ----- TASK SPECIFIC ----- */ 
.app {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.app__btn-run {
    margin: 1.5rem;
    padding: 1rem;
    background-color: #666;
    color: #eee;
    border-radius: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

.app__btn-run:hover {
    background-color: black;
    box-shadow: 0.4rem 0.4rem 0.4rem #666;
}

.app__btn-run:active {
    background-color: black;
    box-shadow: 0.2rem 0.2rem 0.2rem #666;
}

/* TODO: zapisywanie ost.10 przeliczeń
.app__result--summary {
    display: none;
    text-align: center;
}

.result-num, .result-qty {
    color: darkred;
    font-weight: bold;
}

.app__result {
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.6rem;
    min-width: 200px;
    max-width: 500px;
    margin-top: 1rem;
    padding: 1rem;
    overflow-wrap: break-word;
} */

/* --- FORMS AND FIELDS --- */
.form-container, form, button, 
.custom-select, select, input, textarea, ::placeholder {
    font-family: inherit;
    color: #afafaf;
    font-size: 16px;
}

form {
    /* display: flex; */
    padding: 2rem;
}

.field {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    min-width: 15rem;
    border-radius: 4px;
    border: solid 1px #bbb;
    background-color: #f9f9f9;
    padding-left: 10px;
}

.input-wrapper {
    display: flex;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
/* --- END OF: FORMS AND FIELDS --- */

/* --- SELECT BOX --- */
.custom-select {
    position: relative;
    display: flex;
    margin: 0 10px;
  }

.custom-select__options {
    min-width: 12rem;
    font-size: 16px;
    height: inherit;
    padding-right: 2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #eee;
    background: url('/src/img/select-arrow.png') 90% 50% no-repeat, #999;
  }

  .custom-select__options:hover {
      background-color: #666;
      box-shadow: 0.2rem 0.2rem 0.2rem #666;
  }

/* --- END OF: SELECT BOX --- */

/* ----- END OF: TASK SPECIFIC ----- */ 
/* ------------------------- */
